@charset "utf-8";
a{
	text-decoration:inherit;font-family:inherit;font-size:inherit;font-style:inherit;line-height:inherit;color:inherit;outline:0;
}
html{
	padding:0px;
	margin:0px;
}
body{
	height:100%;
	width:100%;
	overflow-x:hidden;
	overflow-y:scroll;
	font-family: Courier, monospace;
	text-rendering:geometricPrecision;
	font-size: 10px;
	text-shadow: 0px 0px 0.2px #737373;
	margin-top:160px;
	margin-bottom:160px;
	margin-right:0px;
	margin-left:0px;
	background-color:#f6f6f6;
	padding:0px;
}
#top{
	position:fixed;
	width:180px;
	top:64px;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	padding-top:9px;
	height:24px;
	text-align:center;
	background:#FFF;
}
#middle{
	width:90%;
	max-width:800px;
	background:#FFF;
	margin-right: auto;
	margin-left: auto;
}
#bottom{
	position:fixed;
	width:180px;
	bottom:32px;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	padding-top:9px;
	height:24px;
	text-align:center;
	background:#FFF;
}
img{
	width:100%;
}
.menu{
	line-height:20px;
	padding: 170px;
	text-align: center;
}
}
.text{
	line-height:18px;
	padding: 170px;
	text-align: justify;
}
.embed,.image{
	width:80%;
	max-width:460px;
	padding-right:12px;
	margin: 0 auto;
	margin-top: 40px;
}
h1{
	font-size: 10px;
	text-align:center;
	font-weight:500;
	margin:0px;
}
p{
	text-align:justify;
	margin:0px;
}
mark{
	background-color: #ffff00;
	color: black;
}
strong{
	font-weight: 500;
	color:white;
}
::selection {
	background: #ffff00;
}
::-moz-selection {
	background: #ffff00;
}
@media only screen and (max-width: 650px) {
    .text{
			padding:10px;
		}
}
