@charset "utf-8";
a{
	text-decoration:inherit;font-family:inherit;font-size:inherit;font-style:inherit;line-height:inherit;color:inherit;white-space:nowrap;display: inline;clear: none;
}
a:hover{
	background: #ffff00;
}
a:active{
	background: #ffff00;
}
html{
	padding:0px;
	margin:0px;
}
body{
	height:100%;
	width:100%;
	overflow-x:hidden;
	overflow-y:scroll;
	font-family: Courier, monospace;
	color:#2e2e2e;
	text-shadow:  0px 0px .4px #7b7b7b, 0px 0px .8px #bbb;
	font-size: 10px;
	margin-top:160px;
	margin-bottom:160px;
	margin-right:0px;
	margin-left:0px;
	background-color:#f6f6f6;
	padding:0px;
}
#top{
	position:fixed;
	width:180px;
	top:64px;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	height:24px;
	background:#FFF;
	box-shadow: 0px 0px 1px #fff;
}
#top:hover{
	background: #ffff00;
	box-shadow: 0px 0px 1px #ffff00;
}
#middle{
	width:90%;
	max-width:800px;
	background:#FFF;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 0px 1px #fff;
}
#bottom{
	position:fixed;
	width:180px;
	bottom:32px;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	height:24px;
	background:#FFF;
	box-shadow: 0px 0px 1px #fff;
}
#bottom:hover{
	background: #ffff00;
	box-shadow: 0px 0px 1px #ffff00;
}
img{
	width:100%;
	display:block;
	margin:0px;
	padding:0px;
	margin-bottom:40vh;
}
.title{
	line-height:23px;
	text-align:center;
}
nav{
	width:180px;
	padding-top:17px;
	padding-bottom:2px;
	background:#FFF;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 0px 1px #fff;
	line-height:24px;
}
.text{
	line-height:18px;
	padding: 156px;
	text-align: justify;
}
::selection {
	background: #ffff00;
}
::-moz-selection {
	background: #ffff00;
}
ol {
    counter-reset: item;
		margin:0px;
		padding:0px;
}
ol > li {
    counter-increment: item;
}
ol ol > li {
    display: block;
		padding-left:32px;
}
ol ol > li:before {
    content: counters(item, ".") ". ";
		margin-left: -36px;
}
li{
	margin-top:14px;
}
li:before {
	color:#2e2e2e;
	text-shadow:  0px 0px .4px #7b7b7b, 0px 0px .8px #bbb;
}
ul {
		margin:0px;
		padding:0px;
		list-style: none;
}
label{
  display: block;
  cursor: pointer;
}
label:hover{
  background: #ffff00;
}
ul ul li:hover{
  background: #ffff00;
}
ul li{
	cursor:pointer;
	margin:0px;
	text-indent:20px;
	margin-bottom:14px
}
ul ul li{
  margin:0px;
	text-indent:42px;
	margin-top:-14px;
}
ul li:last-child{
  margin-bottom:14px;
}
input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}
input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}
input[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform: scaleY(1);
	margin-bottom:-8px;
}
input[type="checkbox"]:checked + label{
	margin-bottom:20px;
}
blockquote{
	font-style: italic;
	margin: 0px;
	padding:0px;
	font-size: inherit;
	font-weight:inherit;
	text-shadow: inherit;
}
h6{
	margin:0px;
	padding:0px;
	text-align: right;
	font-size: inherit;
	font-style: inherit;
	font-weight:inherit;
	text-shadow: inherit;
}
@media only screen and (max-width: 850px) {
    .text{
			padding:10px;
		}
}
